.container-fluid.projects {
  background: #3a4996;
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  height: auto;
  padding: 15em 1em;
}

.scrollable-container {
  position: relative;
  overflow: hidden;
  height: 20vh;
  border-radius: 5px;
  margin: 0rem 5rem;

  @media (min-height: 489px) {
    height: 40vh;
  }

  @media (min-height: 800px) {
    height: 60vh;
  }
}

.scrollable-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 5s ease-in-out;
}

.scrollable-image.scrolling {
  transform: translateY(-80%);
}

.projects-title {
  position: relative;
  bottom: 6rem;
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 700;
  color: white;
}

.project-title {
  color: white !important;
}

.info-btn {
  background: linear-gradient(45deg, black, transparent);
  border-color: transparent;
  color: white !important;
}
